.appSignupContainer{
    background-color: #242424;
    height: 94.3vh;
    overflow: scroll;
    padding: 20px 0px; 
}
.appSignupContainer::-webkit-scrollbar{
    display: none;
}

.appSignupSection{
    background-color: #242424;
    height: 94vh;
    overflow: scroll;
    padding: 20px 0px;
}
.appSignupSection::-webkit-scrollbar{
    display: none;
}