.headerContainer {
  background-color: #242424;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 14px 30px;
  gap: 18px;
  font-family: "Inter", sans-serif !important;
}

.notificationContainer img {
  width: 22px;
  height: auto;
  cursor: pointer;
}

.profileContainer img {
  width: 26px;
  height: auto;
  cursor: pointer;
}

.notificationContainer,
.profileContainer {
  position: relative;
  cursor: pointer;
}

.notificationDropdown {
  position: absolute;
  top: 32px;
  right: 0;
  color: #ffffff;
  background: linear-gradient(rgb(42, 42, 42), rgb(0, 0, 0));
  border: 1px solid #64ffc5;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 14px;
}

.notificationBox {
  width: 50px;
  height: 34px;
  border-radius: 50%;
  background-color: #64ffc5;
  box-shadow: #64ffc5 0px 2px 14px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.notificationSection {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  height: 340px;
  overflow: scroll;
  padding: 10px 14px;
}

.notificationSection::-webkit-scrollbar {
  display: none;
}

.notificationBottomSection {
  border-top: 1px solid #64ffc5;
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
}

.notificationCount {
  font-size: 14px;
}

.notificationAllList {
  font-size: 14px;
  color: #ffffff !important;
  cursor: pointer;
  text-decoration: none !important;
}
a {
  text-decoration: none !important;
}

.notificationAllList:hover {
  color: #64ffc5;
}

.notificationContent {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.profileDropdown {
  position: absolute;
  top: 34px;
  right: 0;
  background: linear-gradient(rgb(42, 42, 42), rgb(0, 0, 0));
  border: 1px solid #64ffc5;
  padding: 10px 14px;
  width: 140px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 2px;
  color: #ffffff;
}

.profileDropdownOption:hover {
  color: #00ffc3;
}

.profileDropdownOption {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 8px;
}

.profileDropdownOptionSelected {
  color: #00ffc3;
}

.notificationDropdown p,
.profileDropdown p {
  margin: 0;
  padding: 4px 0;
  cursor: pointer;
}

/* .notificationDropdown p:hover,
.profileDropdown p:hover {
    background-color: #f0f0f0;
} */
