body{
    font-family: "Inter", sans-serif !important;
}
.container-fluid{
    padding: 20px;
    background-color: #242424;
    color: white;
    font-family: "Inter", sans-serif !important;
  }
  .row{
    row-gap: 20px !important;
  }
  .table>thead {
    vertical-align: top !important  ;
  }
  /* Style the multi dropdown section */
.rmsc .dropdown-container {
  outline: none !important;
  background-color: #242424 !important;
  border: none !important;
  padding: 16px 10px !important;
  border-radius: 6px !important;
  color: #ffffff !important;
  font-size: 16px !important;
  width: 100% !important;
}
.rmsc .dropdown-heading {
  padding: 0px !important;
  height: 22px !important;
  cursor:  pointer !important;
}
.rmsc .dropdown-container:focus-within {
  box-shadow: unset !important;
}
  /* End the multi dropdown section */
  .accordion-button:not(.collapsed) {
    color: #fff !important;
    background-color: #242424 !important;
    box-shadow: unset !important;
}
.accordion-button {
  color: #ffffff !important;
  background-color: #242424 !important;
  border-radius: 4px !important;
  border: 1px solid #242424 !important;
}
.accordion-item {
  color: #fff !important;
  background-color: #242424 !important;
  border: 1px solid #242424 !important;
}
.accordion-button::after {
display: none !important;
}
.accordion-button:not(.collapsed)::after {
  transform: rotate(-180deg) !important;
}
.accordion-button::after {
  transition: rotate(-180deg) !important;
}
.accordion-button {
  justify-content: space-between !important;
}
.accordion-button:focus {
  box-shadow: unset !important;
}
.logo{
  width: 24px !important;
  cursor: pointer !important;
}