.card {
  border: 2px solid #00ffc3;
  color: #fff;
  border-radius: 10px;
  padding: 30px;
}

.card:hover {
  background-color: #00ffc3;
  color: #000000;
  cursor: pointer;
}

.card:hover .cardIcon {
  border-color: #000;
}

.cardWrapper {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.cardIcon {
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardCount {
  font-size: 25px;
}

.cardTitle {
  font-size: 16px;
}

.cardActive {
  background-color: #00ffc3;
  color: #000000;
}

.cardActive .cardIcon {
  border-color: #000;
}
