.portableChargerContainer{
    height: 94.3vh;
    background-color: #242424;
    overflow: scroll;
}
.portableChargerContainer::-webkit-scrollbar{
    display: none;
}

.chargerBookingContainer{
    background-color: #242424;
    padding: 20px 0px;
}